$background-color-primary: #1c2b47;
p {
  font-family: Inter;
}

.matchcard-wrapper {
  border-radius: 0.5em;
  background-color: $background-color-primary;
  width: max-content;
}

.matchcard-wrapper > div:nth-of-type(1),
div:nth-of-type(2) {
  padding: 0.5em 1em 0em 1em;
}
.team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: #b9b9c8;
    padding: 0.5em;
    font-size: 0.7em;
  }
}

.team-icon > div {
  p {
    text-align: center;
    color: #b9b9c8;
    font-size: 0.8em;
  }
}

.team-icon > div > img {
  height: 3em;
  width: auto;
  border-radius: 50%;
  background-color: #b9b9c8;
}

.duo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: #b9b9c8;
    padding: 0.5em;
    font-size: 0.7em;
  }
}

.duo-icon > div {
  p {
    text-align: center;
    color: #b9b9c8;
    font-size: 0.8em;
  }
}

.duo-icon > div > img {
  height: 3em;
  width: auto;
  border-radius: 50%;
  background-color: #b9b9c8;
}

.duo-icon > div > img:nth-of-type(1) {
  margin-right: -0.4em;
  border: 2px solid $background-color-primary;
}

.duo-icon > div > img:nth-of-type(2) {
  border: 2px solid $background-color-primary;
}
.match-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.match-details > p:nth-of-type(1),
p:nth-of-type(2) {
  padding-top: 0.5em;
  font-size: 0.8em;
  color: #85859b;
}

.match-details > p:nth-of-type(3) {
  padding-top: 0.5em;
  color: white;
  font-size: 1em;
}

.match-details > div {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  p {
    padding-left: 0.5em;
    color: white;
    font-size: 0.7em;
  }
}

.match-support {
  margin-top: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 0 -3px 12px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
}

.match-support > img {
  padding: 0.5em;
  border-radius: 50%;
  background-color: rgba(57, 183, 110, 0.2);
  height: 1em;
  width: auto;
}

.match-timing {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Inter;
  text-align: center;
  box-shadow: 0 -3px 12px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5em 0.5em 0.5em 0.5em;
  div {
    padding: 0;
  }
  p {
    padding-right: 0.4em;
    color: #b9b9c8;
    font-size: 0.7em;
  }
}
